/* --- body */

.Body {
  position: relative; 
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #5F4E9A;
  background: #fff;
}

/* --- Header */

.Header {
  margin: 0 auto;
  padding: 0 2rem 5rem 2rem;
}
@media screen and (min-width: 410px) {
  .Header {
    max-width: 100%;
  }
}
@media screen and (min-width: 690px) {
  .Header {
    padding: 0 3rem 8rem 3rem;
  }
}
@media screen and (min-width: 960px) {
  .Header {
    padding: 0 3rem 11rem 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .Header {
    padding: 0 3rem 13rem 3rem;
  }
}

.Header-titleMd {
  margin: 0;
  font-size: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}
@media screen and (min-width: 370px) {
  .Header-titleMd {
    margin: 0;
    font-size: 2.9rem;
  }
}
@media screen and (min-width: 690px) {
  .Header-titleMd {
    margin: 0;
    font-size: 4rem;
  }
}
@media screen and (min-width: 960px) {
  .Header-titleMd {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .Header-titleMd {
    font-size: 5.2rem;
  }
}

.Header-titleLg {
  margin: 0;
  font-size: 3.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}
@media screen and (min-width: 690px) {
  .Header-titleLg {
    font-size: 4.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .Header-titleLg {
    font-size: 5.4rem;
  }
}

.Header-descriptionMd {
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 84rem;
  font-size: 2rem;
  line-height: 1.4;
  color: #a8a4ca;
}
@media screen and (min-width: 690px) {
  .Header-descriptionMd {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.6rem;
    line-height: 1.6;
  }
}

.Header-descriptionSm {
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 84rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #a8a4ca;
}
@media screen and (min-width: 410px) {
  .Header-descriptionSm {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 690px) {
  .Header-descriptionSm {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 960px) {
  .Header-descriptionSm {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 1200px) {
  .Header-descriptionSm {
    font-size: 2.3rem;
  }
}

/* --- Page */

.Page {
  margin-bottom: 5rem;
}
@media screen and (min-width: 960px) {
  .Page {
    margin-bottom: 7.5rem;
  }
}

/* --- Gallery */

.Gallery {
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
@media screen and (min-width: 410px) {
  .Gallery {
    max-width: 100%;
  }
}
@media screen and (min-width: 690px) {
  .Gallery {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 960px) {
  .Gallery {
    padding-top: 9rem;
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .Gallery {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}
.Gallery:first-of-type{
  padding-top: 0;
}

.Gallery-h2 {
  margin: 0;
  font-size: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (min-width: 370px) {
  .Gallery-h2 {
    margin: 0;
    font-size: 2.9rem;
  }
}
@media screen and (min-width: 690px) {
  .Gallery-h2 {
    margin: 0;
    font-size: 4rem;
  }
}

/* --- Asset */

.Asset {
  border: 0.1rem solid #f0ecfa;
}

/* --- Asset Logos */

.AssetLogos {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 690px) {
  .AssetLogos {
    flex-direction: row;
  }
}

.AssetLogo {
  display: block;
  border: 0.1rem solid #f0ecfa;
  background-color: #fff;
  background-image: url("../img/transparent.png");
  background-repeat: repeat;
  background-size: 2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 690px) {
  .AssetLogo {
    margin-bottom: 0;
    flex-basis: 50%;
  }
}

/* --- container */

.Container {
  max-width: 26.4rem;
  margin: 0 auto;
}
@media screen and (min-width: 410px) {
  .Container {
    max-width: 32rem;
  }
}
@media screen and (min-width: 690px) {
  .Container {
    max-width: 58.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Container {
    max-width: 81rem;
  }
}
@media screen and (min-width: 1200px) {
  .Container {
    max-width: 104rem;
  }
}

/* --- Bleed */

.Bleed {
  max-width: 100%;
  margin: 0 auto 1.5rem;
}
@media screen and (min-width: 410px) {
  .Bleed {
    max-width: 32rem;
  }
}
@media screen and (min-width: 690px) {
  .Bleed {
    max-width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .Bleed {
    max-width: 81rem;
  }
}
@media screen and (min-width: 1200px) {
  .Bleed {
    max-width: 104rem;
  }
}

/* --- Nav */

.Nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  margin-top: 0;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-bottom: #eeecf3 solid 0.1rem;
}
@media screen and (min-width: 690px) {
  .Nav {
    padding: 3rem 0;
    margin-bottom: 3rem;
    border-bottom: none;
  }
}
@media screen and (min-width: 960px) {
  .Nav {
    padding: 3.6rem 0;
    margin-bottom: 6rem;
  }
}

.Nav-logo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  z-index: 999;
}
@media screen and (min-width: 690px) {
  .Nav-logo {
    justify-content: flex-start;
    
  }
}
.Nav-logo-mark {
  display: block;
  max-width: 3.5rem;
  margin-right: 1rem;
  border: 0.6rem solid #998AF9;
  background-color: #998AF9;
  line-height: 1;
}
@media screen and (min-width: 690px) {
  .Nav-logo-mark {
    max-width: 4.4rem;
    margin-right: 1.3rem;
  }
}
@media screen and (min-width: 960px) {
  .Nav-logo-mark {
    max-width: 5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .Nav-logo-mark {
    max-width: 5.6rem;
    margin-right: 2rem;
  }
}

.Nav-logo-type {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
@media screen and (min-width: 690px) {
  .Nav-logo-type {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 960px) {
  .Nav-logo-type {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .Nav-logo-type {
    font-size: 3.4rem;
  }
}

.Nav-logo-button {
  display: block;
  max-width: 3.5rem;
  border: 0.6rem solid #C3A7FF;
  background-color: #C3A7FF;
  line-height: 1;
  cursor: pointer;
}
@media screen and (min-width: 690px) {
  .Nav-logo-button {
    display: none;
  }
}

.Nav-links {
  display: none;
  position: absolute;
  top: 5.8rem;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 690px) {
  .Nav-links {
    position: relative;
    display: flex !important; 
    top: 0;
    height: auto;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: transparent;
  }
}

.Nav-links-page {
  display: block;
  position: relative;
  margin-right: 0;
  padding: 2rem 0;
  background-color: #fff;
  border-top: #eeecf3 solid 0.1rem;
  font-size: 1.6rem;
  font-weight:  400;
  letter-spacing: 0.1rem;
  line-height: 1;
  white-space: nowrap;
}
@media screen and (min-width: 690px) {
  .Nav-links-page {
    margin-right: 2rem;
    padding: 0.6rem 0;
    background-color: transparent;
    border-top: none;
  }
}
@media screen and (min-width: 960px) {
  .Nav-links-page {
    margin-right: 2.4rem;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .Nav-links-page {
    margin-right: 3rem;
    font-size: 2rem;
  }
}

.Nav-links-social {
  display: block;
  position: relative;
  width: 100%;
  height: 5.4rem;
  margin: 0 auto;
  border-style: solid;
  border-width: 1rem;
  line-height: 1;
}
@media screen and (min-width: 690px) {
  .Nav-links-social {
    width: 4.4rem;
    height: 4.4rem;
    border-style: solid;
    border-width: 1rem;
    line-height: 1;
  }
}
@media screen and (min-width: 960px) {
  .Nav-links-social {
    width: 5rem;
    height: 5rem;
    border-width: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .Nav-links-social {
    width: 5.8rem;
    height: 5.8rem;
    border-width: 1.6rem;
  }
}

.Nav-links-social-icon {
  width: auto;
  max-width: auto;
  height: 100%;
  max-height: 100%;
  padding: 0.4rem;
}
@media screen and (min-width: 690px) {
  .Nav-links-social-icon {
    padding: 0;
  }
}

/* --- List */

.List {
  padding-left: 2rem;
  text-align: left;
  font-size: 1.4rem;
  margin: 0 auto;
}
@media screen and (min-width: 690px) {
  .List {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) {
  .List {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .List {
    font-size: 2rem;
  }
}
.List-item {
  margin-bottom: 1.2rem;
  line-height: 1.8;
}
.List-item-publication {
  color: #5F4E9A;
  font-weight: 500;
}
.List-item-link {
  border-bottom-width: 0.2rem;
  border-bottom-color: #f0ecfa;
  border-bottom-style: solid;
  transition: border-bottom-color ease-in-out 0.1s;
}
.List-item-link:hover {
  border-bottom-color: #C3A7FF;
}
.List-item-date {
  color: #a8a4ca;
}

/* --- Double Layer */

.DoubleLayer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 56%;
}
@media screen and (min-width: 690px) {
  .DoubleLayer {
    padding-top: 56.25%;
  }
}

.DoubleLayer-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 3;
  border: 0.1rem solid #f0ecfa;
  pointer-events: none;
}

.DoubleLayer-motion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
}

.DoubleLayer-backup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1;
  pointer-events: none;
}

/* --- Project Description */

.ProjectDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 9rem;
}
@media screen and (min-width: 690px) {
  .ProjectDescription {
    margin: 0 0 14rem;
    flex-direction: row;
  }
}

.ProjectDescription-buttons {
  display: flex;
  justify-content: space-between;
} 

.ProjectDescription-button {
  display: block;
  background-color: #998AF9;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1.2rem 1.4rem;
  font-size: 1.4rem;
  font-weight:  400;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 99rem;
  color: #fff;
  outline: none;
  appearance: none;
  opacity: 1;
  transition: opacity .15s;
}
@media screen and (min-width: 690px) {
  .ProjectDescription-button {
    margin-left: 0;
    margin-right: 0.8rem;
    padding: 1.6rem 2.2rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 960px) {
  .ProjectDescription-button {
    padding: 1.8rem 2.2rem;
    font-size: 1.8rem;
  }
}

a.ProjectDescription-button {
  cursor: pointer;
}

a.ProjectDescription-button:hover {
  opacity: 0.9;
}

.ProjectDescription-platforms {
  line-height: 1;
}
.ProjectDescription-platform {
  max-width: 2.6rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;  
  margin-top: 1.6rem;
}
@media screen and (min-width: 690px) {
  .ProjectDescription-platform {
    max-width: 4rem;
    margin-left: 1.5rem;
    margin-right: 0;  
    margin-top: 0;
  }
}

/* --- Cta */

.Cta {
  margin: 0 auto;
  padding: 3rem 3rem 5rem;
}
@media screen and (min-width: 410px) {
  .Cta {
    max-width: 100%;
  }
}
@media screen and (min-width: 690px) {
  .Cta {
    padding: 6rem 3rem 8rem;
  }
}
@media screen and (min-width: 960px) {
  .Cta {
    padding: 10rem 3rem 12rem;
  }
}
@media screen and (min-width: 1200px) {
  .Cta {
    padding: 12rem 3rem 14rem;
  }
}

.Cta-h1 {
  margin: 0;
  font-size: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.55;
}
@media screen and (min-width: 370px) {
  .Cta-h1 {
    margin: 0;
    font-size: 2.9rem;
  }
}
@media screen and (min-width: 690px) {
  .Cta-h1 {
    margin: 0;
    font-size: 4rem;
  }
}
@media screen and (min-width: 960px) {
  .Cta-h1 {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .Cta-h1 {
    font-size: 5.2rem;
  }
}

.Cta-description {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.45;
  color: #a8a4ca;
}
@media screen and (min-width: 370px) {
  .Cta-description {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 690px) {
  .Cta-description {
    font-size: 2rem;
  }
}
@media screen and (min-width: 960px) {
  .Cta-description {
    font-size: 2.6rem;
  }
}

.Cta-space {
  height: 2rem;
}
@media screen and (min-width: 690px) {
  .Cta-space {
    height: 4rem;
  }
}

.Cta-button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  background-color: #998AF9;
  border-radius: 99rem;
  transition: opacity 0.15s;
  margin: 0 auto 1rem;
}
.Cta-button:hover {
  opacity: 0.9;
}
@media screen and (min-width: 690px) {
  .Cta-button {
    padding: 0.8rem 2.4rem;
  }
}

.Cta-label {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 690px) {
  .Cta-label {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 960px) {
  .Cta-label {
    font-size: 1.8rem;
  }
}

/* --- Action Box */

.ActionBox-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
@media screen and (min-width: 390px) {
  .ActionBox-buttons {
    flex-direction: row;
  }
}

@media screen and (min-width: 690px) {
  .ActionBox-buttons {
    margin-top: 4rem;
  }
}
.ActionBox-button {
  display: block;
  margin: 0 auto 0.4rem;
  padding: 0.5rem 1.2rem;
  background-color: #998AF9;
  border-radius: 99rem;
  transition: opacity 0.15s;
}
.ActionBox-button:hover {
  opacity: 0.9;
}
@media screen and (min-width: 390px) {
  .ActionBox-button {
    margin: 0 0.2rem;
  }
}
@media screen and (min-width: 690px) {
  .ActionBox-button {
    margin: 0 0.6rem;
    padding: 0.8rem 1.6rem;
  }
}
@media screen and (min-width: 960px) {
  .ActionBox-button {
    padding: 0.9rem 1.8rem;
  }
}

.ActionBox-button-inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ActionBox-button-inner-p {
  margin-right: 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1rem;
  text-align: left;
}
@media screen and (min-width: 690px) {
  .ActionBox-button-inner-p {
    margin-right: 0.6rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 960px) {
  .ActionBox-button-inner-p {
    font-size: 1.8rem;
  }
}

.ActionBox-button-inner-icon {
  max-width: 2.2rem;
  margin-right: 0.5rem;
}
@media screen and (min-width: 690px) {
  .ActionBox-button-inner-icon {
    max-width: 3rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 960px) {
  .ActionBox-button-inner-icon {
    max-width: 3.6rem;
  }
}

.ActionBox-label {
  color: #a8a4ca;
  margin-top: 1.5rem;
  line-height: 1.5;
  font-size: 1.3rem;
}
@media screen and (min-width: 690px) {
  .ActionBox-label {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 690px) {
  .ActionBox-label {
    font-size: 1.7rem;
  }
}

/* --- Footer */

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.75rem;
  margin: 0;
}
@media screen and (min-width: 410px) {
  .Footer {
    padding: 2.25rem 3rem;
  }
}
@media screen and (min-width: 690px) {
  .Footer {
    padding: 4.5rem;
  }
}

.Footer-item {
  font-size: 1.1rem;
  color: #a199c5;
}
@media screen and (min-width: 690px) {
  .Footer-item {
    font-size: 1.5rem;
  }
}

/* --- Closer */ 

.Closer-spacer {
  margin-top: 6rem;
}
@media screen and (min-width: 410px) {
  .Closer-spacer {
    margin-top: 9;
  }
}
@media screen and (min-width: 960px) {
  .Closer-spacer {
    margin-top: 12rem;
  }
}

/* --- pattern */

.Pattern {
  position: fixed;
  z-index: -99;
  height: 100%;
  width: 45rem;
  top: 0;
  left: 50%;
  margin-left: -22.5rem;
  opacity: .04;
}
@media screen and (min-width: 410px) {
  .Pattern {
    width: 76rem;
    margin-left: -38rem;
  }
}
@media screen and (min-width: 690px) {
  .Pattern {
    width: 100rem;
    margin-left: -50rem;
  }
}
@media screen and (min-width: 960px) {
  .Pattern {
    width: 138.5rem;
    margin-left: -69.25rem;
  }
}

.Pattern-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.Pattern-line {
  width: 1px;
  height: 100%;
  background-color: #887ce2;
}

/* --- mods */

.pinkBg {
  background-color: #C3A7FF;
  border-color: #C3A7FF;
}
.blueBg {
  background-color: #ABC3FF;
  border-color: #ABC3FF;
}
.purpleBg {
  background-color: #8793FF;
  border-color: #8793FF;
}
.disabledBg {
  background-color: #cfcbdd;
}
@media screen and (min-width: 690px) {
  .activeBrand {
    border-bottom-style: solid;
    border-bottom-width: 0.4rem; 
    border-bottom-color: #998AF9; 
  }
  .inactiveBrand {
    border-bottom-style: solid;
    border-bottom-width: 0.4rem; 
    border-bottom-color: transparent;
    transition: border-bottom-color 0.15s ease-in-out;
  }
  .inactiveBrand:hover {
    border-bottom-color: #998AF9; 
  }
  .activePink {
    border-bottom-style: solid;
    border-bottom-width: 0.4rem; 
    border-bottom-color: #C3A7FF; 
  }
  .inactivePink {
    border-bottom-style: solid;
    border-bottom-width: 0.4rem; 
    border-bottom-color: transparent;
    transition: border-bottom-color 0.15s ease-in-out;
  }
  .inactivePink:hover {
    border-bottom-color: #C3A7FF; 
  }
}
@media screen and (min-width: 690px) {
  .activeBrand {
    border-bottom-style: solid;
    border-bottom-width: 0.4rem; 
    border-bottom-color: #998AF9; 
  }
  .inactiveBrand {
    border-bottom-style: solid;
    border-bottom-width: 0.4rem; 
    border-bottom-color: transparent;
    transition: border-bottom-color 0.15s ease-in-out;
  }
  .inactiveBrand:hover {
    border-bottom-color: #998AF9; 
  }
  .activePink {
    border-bottom-style: solid;
    border-bottom-width: 0.4rem; 
    border-bottom-color: #C3A7FF; 
  }
  .inactivePink {
    border-bottom-style: solid;
    border-bottom-width: 0.4rem; 
    border-bottom-color: transparent;
    transition: border-bottom-color 0.15s ease-in-out;
  }
  .inactivePink:hover {
    border-bottom-color: #C3A7FF; 
  }
}